/**
 *  ===========================================
 *       Cлужебные правила
 *  ===========================================
**/

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

@font-face {
  font-family: "PTSans Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSans/PTS75F.ttf");
}

@font-face {
  font-family: "PTSans Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/PTSans/PTS55F.ttf");
}

@font-face {
  font-family: 'symbols-sedona';
  src: url('../fonts/symbols-sedona/symbols-sedona.eot?60737633');
  src: url('../fonts/symbols-sedona/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
       url('../fonts/symbols-sedona/symbols-sedona.woff?60737633') format('woff'),
       url('../fonts/symbols-sedona/symbols-sedona.ttf?60737633') format('truetype'),
       url('../fonts/symbols-sedona/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Чтоб не мешало )))*/
.popup-search{
    display: none;
}



/**
 *  ===========================================
 *       Сетка
 *  ===========================================
**/


/*  ширина и центрирование
-----------------------------------------------*/
.main-container{
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
}


/*  правила шапки сайта
-----------------------------------------------*/
.main-header{
    position: relative;
}

    .main-header .logo{
        position: absolute;
        z-index: 1;
        left: 50%;
        top: -15px;
        margin-left: -69px;
    }

        .main-navigation ul{
            margin: 0;
            padding: 0 6%;
            font-size: 0;
        }

            .main-navigation li {
                display: inline-block;
                vertical-align: top;
                width: 20%;
            }

                .main-navigation li.offset{
                        margin-right: 20%;
                }

                .main-navigation li:nth-child(3) {
                    text-align: right;
                }

                .main-navigation li:nth-child(4) {
                    text-align: right;
                }

                    .main-navigation a {
                        display: inline-block;
                        font-size: 14px;
                        padding: 15px 0;
                        text-align: center;
                        text-decoration: none;
                        color: #000;
                    }

                    .main-navigation a:hover{
                        color: #a3c7de;
                    }

                    .main-navigation a:active{
                        color: #b2b2b2;
                    }


/*  правила подвала сайта
-----------------------------------------------*/
.footer{
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 0;
    font-size: 0;
}

    .footer-hashtag{
        display: inline-block;
        width: 33.33%;
        font-size: 21px;
    }

    .footer-socials{
        display: inline-block;
        width: 33.33%;
        font-size: 14px;
    }

    .footer-copyright{
        display: inline-block;
        width: 33.33%;
        font-size: 14px;
    }

        .footer-copyright .logo-academy{
            display: inline-block;
            font-size: 0;
            width: 113px;
            height: 39px;
            margin: 4px 8px;
        }

    
/*  правила страницы index.html
-----------------------------------------------*/
.promo{
    position: relative;
    width: 100%;
    height: 508px;
}

    .promo img{
        display: block;
        margin: 0 auto;
        padding-top: 76px;
    }

.reasons-header{
    height: 216px;
    background: #ffffff;
}

    .reasons-header .reasons-title{
        display: block;
        margin: 0 auto;
        padding-top: 64px;
        width: 500px;
    }
    
.reason-row{
    min-height: 256px;
}
            
    .reason-row .reason{
        float: left;
        width: 33.33%;
        height: 256px;
        font-size: 14px;
        vertical-align: top;
        text-align: center;
        padding: 35px 4% 0;
        box-sizing: border-box;
        background: #81b3d2;
        color: #ffffff;
    }

.reason-row-image .reason-picture{
    float: right;
}

.reason-row-image .reason{
    float: left;
}

.reason-row-image-invert .reason{
    float: right;
}

.reason-row-image-invert .reason-picture{
    float: left;
}

    .reason-image{
        position: relative;
        background: #ffffff;
        color: #000000;
    }

        .reason-image .reason-title{
            padding-top: 105px;
        }

        .reason-image .reason-text{
            font-family: "PTSans Regular", "Arial", sans-serif;
            line-height: 21px;
        }

    .reason-picture{
        position: relative;
        display: inline-block;
        width: 66.67%;
        height: 256px;
        overflow: hidden;
        font-size: 14px;
    }

        .reason-picture img{
            position: absolute;
            max-width: 100%;
            height: auto;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }

.reason-row-gray .reason{
    background: #eeeeee;
    color:#000000;
}

.search-hotel{
   width: 568px;
    margin: 0 auto;
    text-align: center;
}

    .search-hotel .search-hotel-title{
        font-size: 30px;
        line-height: 24px;
        text-align: center;
        margin-top: 59px;
    }

    .search-hotel .search-text{
        font-family: "PTSans Regular", "Arial", sans-serif;
        line-height: 24px;
        text-align: center;
        margin-top: 29px;
    }

.btn-search{
    display: block;
    margin: 0 auto;
    background: #766357;
    padding: 30px;
    margin-top: 45px;
    text-decoration: none;
    color: #ffffff;
    font-size: 21px;
}

    .btn-search:hover{
        background: #604e43;
    }

    .btn-search:active{
        background: #503e33;
        color: rgba(255,255,255,0.3);
    }

.map{
    position: relative;
    height: 593px;
}

.map-canvas{
    height: auto;
}


/*  правила страницы hotels.html
-----------------------------------------------*/
.hotels-filters{
    width: 100%;
    max-height: 217px;
    background: transparent url("../img/bg_hotels_filters.jpg") no-repeat 0 50%;;
    position: relative;
    background-size: cover;
    padding-top: 15px;
    color: #ffffff;
}

.hotel-filters h2{
    text-align: left;
}

.filter-items{
    display: inline-block;
    padding-left: 6%;
    margin-right: 30px;
}

.filter-items h2{
    font-family: "PTSans Bold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;  
}

input[type="checkbox"]{ 
    display: none; 
}

input[type="checkbox"] + label{
    display: block;
    color: #ffffff;
    font-family: "PTSans Regular", "Arial", sans-serif;
    line-height: 21px;
    margin: 21px 0;
}

.filter-cost{
    padding-right: 6.5%;
    display: inline-block;
    float: right;
    vertical-align: top;
    box-sizing: border-box;
    width: 33.33%;
    font-size: 14px;
}

.title-filter{
    color: #ffffff;
    font-size: 16px;
}

.cost-group {
    position: relative;
    border: 2px solid #ffffff;
    border-radius: 3px;
    font-size: 0;
}

.cost-group::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 5px;
        width: 2px;
        height: 22px;
        margin-left: -1px;
        background: #fff;
    }

    .cost-group label {
        display: inline-block;
        vertical-align: top;
        width: 40%;
        padding: 5px 5%;
        font-size: 14px;
        text-align: right;
        font-family: "PTSans Regular", "Arial", sans-serif;
        line-height: 21px;
    }

.cost-group input{
    max-width: 50%;
    padding: 0;
    border: none;
    color: #fff;
    background: transparent;
}

.cost-input-in{
    max-width: 43%;
}

.scale{
    position: relative;
    margin: 20px 0;
    height: 2px;
    background: #fff;
}

.scale button{
    position: absolute;
    top: -8px;
    padding: 2px;
    border: 8px solid #fff;
    border-radius: 50%;
    outline: none;
    background: #ababab;
    box-shadow: 0 2px 0 0 rgba(0,0,0,.14);
    cursor: pointer;
}

.scale button.scale-min{
    left: 0;
}

.scale button.scale-max{
    right: 45px;
}

button.btn{
    display: inline-block;
    margin: 12px 0px;
    padding: 5px 34px;
    border: 2px solid #FFF;
    border-radius: 3px;
    background: transparent;   
    font-family: "PTSans Regular", "Arial", sans-serif;
    color: #FFF;
    cursor: pointer;
    line-height: 21px;
    text-align: center;
}

.hotels-header{
    display: block;
    padding: 30px 6%;
    line-height: 26px;
    border-bottom: 1px solid #e5e5e5;
}

.hotels-header h2{
    margin: 0;
}

.hotels-find-count{
    float: left;
    width: 150px;
    line-height: 26px;
}

.sort-type{
    float: left;
    font-family: "PTSans Regular", "Arial", sans-serif;
    font-size: 12px;
}

.sort-type a{
    position: relative;
    vertical-align: top;
    text-decoration: none;
    color: #000000;
    opacity: 0.3;
    margin-right: 32px;
}

.sort-type a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px dotted #81b3d2;
}

.sort-type a:hover{
    color: #81b3d2;
    opacity: 1;
}

.sort-type a:active::after{
    border: none;
}

.sort-type a:active{
    color: #000000;
    opacity: 1;
}


.sort-type a.active-sort-type{
    color:#81b3d2;
    opacity: 1;
}

.sort-type a.active-sort-type::after{
    border: none;
}

.sort-title{
    display: inline-block;
    vertical-align: top;
    width: 115px;
}

.sort{
    float: right;
}

.hotel-items{
    padding: 30px 6%;
    border-bottom: 1px solid #e5e5e5;
}

.photo-hotel{
    display: block;
    float: left;
}

a.photo-hotel{
    width: 135px;
    height: 90px;
}

.hotel-info{
    float: left;
    margin-left: 30px;
}

.hotel-title{
    margin-top:0;
    margin-bottom: 6px;
}

.hotel-title a{
    color: #000000;
    text-decoration: none;
}

.hotel-title a:hover{
    color: #81b3d2;
}

.hotel-title a:active{
    color: rgba(0, 0, 0, 0.3);
}

.hotel-action{
    display: inline-block;
    vertical-align: top;
    max-width: 160px;
    margin: 0px 6px 0px 0px;
    font-family: "PTSans Regular", "Arial", sans-serif;
    line-height: 21px;
}

.hotel-action a{
    display: block;
    margin-top: 15px;
    padding: 3px 17px;
    background: #81b3d2;
    text-decoration: none;
    font-family: "PTSans Bold", "Arial", sans-serif;
    color: #ffffff;
}

.hotel-action a.btn:hover{
    background: #669ec0;
}

.hotel-action a.btn:active{
    background: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.hotel-action a.btn-order{
    background: #766357;
}

.hotel-action a.btn-order:hover{
    background: #604e43;
}

.hotel-action a.btn-order:active{
    background: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.rating{
    float:right;
    width: 110px;
    text-align: right;
}

.rating-stars{
    position: relative;
    width: 110px;
    height: 21px;
    margin-bottom: 42px;
    background: transparent url("../img/icon-star.svg") repeat-x scroll right top / 24px auto;
}

.rating-value{
    padding: 3px 0px;
    text-align: center;
    color: #666;
    background: #F2F2F2;
    font-family: "PTSans Regular", "Arial", sans-serif;
    line-height: 21px;
}

/**
 *  ============================================
 *       Оформление и декорирование
 *  ============================================
**/

body{
    background: #f2f2f2;
    font-family: "PTSans Bold", "PT Sans", "Arial", serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: normal;
}

h1{
    font-size: 21px;
    line-height: 26px;
}

h2{
    font-size: 21px;
    line-height: 21px;
}

p{
    line-height: 26px;
}

figure{
    margin: 0;
    padding: 0;
}

fieldset{
    padding: 0;
    border: none;
}

.main-container{
    box-shadow: 0 -5px 15px 0 rgba(0,0,0,.2);
    background: #ffffff;
}


.main-header{
    background: #fff;
}

    .main-navigation ul{
        list-style: none;
    }

.promo{
    background: url("../img/promo_img.jpg") no-repeat 50% 30%;
    background-size: cover;
}

    .promo::after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 57px;
        background: url("../img/promo_maska.png");
        background-size: 100% 57px;
    }

.reasons-title{
    text-align: center;
}

    .reason-image::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 60px;
            width: 75px;
            height: 76px;
            margin-left: -38px;
            background: url("../img/sprites_advices.png") no-repeat transparent;
    }

        .reason-image-home::before {
            background-position: 0 0;
        }

        .reason-image-hamburger::before {
            background-position: 0 -88px;
        }

        .reason-image-gift::before {
            background-position: 0 -182px;
        }

.reasons-header p{
    font-family: "PTSans Regular", "Arial", sans-serif;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 20px;
}

    .reason-number{
        font-family: "PTSans Regular", "Arial", sans-serif;
        line-height: 21px;
    }

    .reason-text{
        font-family: "PTSans Regular", "Arial", sans-serif;
        line-height: 21px;
    }

.reason-row .reason-image{
    min-height: 330px;
    background: #ffffff;
    color: #000000;
}

.footer{
    background: rgba(254, 254, 254, 0.9);
}

.footer-hashtag{
    color: #000000;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.footer-socials{
    text-align: center;
}

.footer-copyright{
    font-family: "PTSans Regular", "Alial", sans-serif;
    text-align: center;
    text-decoration: none;
}


    .footer-copyright .logo-academy{
        vertical-align: middle;
        text-decoration: none;
        background: transparent url("../img/sprites_ha.png") no-repeat;
        background-position: 50% 0;
    }

        .logo-academy:hover {
            background-position: 50% -48px;
        }

        .logo-academy:active {
            background-position: 50% -95px;
        }