/*  Правила центрирования сайта
-----------------------------------------------*/
body{
    background: #f2f2f2;
    font-family: "PT Sans", "Arial", serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}

.main-container{
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 -5px 15px 0 rgba(0,0,0,.2);
    background: #ffffff;
}


/*  правила шапки сайта
-----------------------------------------------*/
.main-header{
    position: relative;
    background: #fff;
}

    .main-header .logo{
        position: absolute;
        z-index: 1;
        left: 50%;
        top: -15px;
        margin-left: -69px;
    }

        .main-navigation ul{
            margin: 0;
            padding: 0 6%;
            font-size: 0;
            list-style: none;
        }

            .main-navigation li {
                display: inline-block;
                vertical-align: top;
                width: 20%;
            }

                .main-navigation li.offset{
                        margin-right: 20%;
                }

                .main-navigation li:nth-child(3) {
                    text-align: right;
                }

                .main-navigation li:nth-child(4) {
                    text-align: right;
                }

                    .main-navigation a {
                        display: inline-block;
                        font-size: 14px;
                        padding: 15px 0;
                        text-align: center;
                        text-decoration: none;
                        color: #000;
                    }

                    .main-navigation a:hover{
                        color: #a3c7de;
                    }

                    .main-navigation a:active{
                        color: rgba(0, 0, 0, 0.3);
                    }

                    .main-navigation a.active{
                        color: #b2b2b2;
                    }

                        .main-navigation a.active:hover{
                            color: #766357;
                        }

                        .main-navigation a.active:active{
                            color: rgba(118, 99, 87, 0.3);
                        }


/*  правила подвала сайта
-----------------------------------------------*/
.footer{
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 0;
    padding-top: 35px;
    font-size: 0;
    background: rgba(254, 254, 254, 0.9);
}

    .footer-hashtag{
        display: inline-block;
        width: 33.33%;
        font-size: 21px;
        color: #000000;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
    }

    .footer-socials{
        display: inline-block;
        width: 33.33%;
        font-size: 0px;
        text-align: center;
    }

        .footer-socials a{
            display: inline-block;
            margin-right: 6px;
            width: 46px;
            height: 48px;
            background: #81b3d2;
            vertical-align: middle;
            text-decoration: none;
        }

            .footer-socials a:hover,
            .footer-socials a:hover,
            .footer-socials a:hover{
                background: #669ec0;
            }

            .footer-socials a:active,
            .footer-socials a:active,
            .footer-socials a:active{
                background: #5496bd;
            }

            .footer-socials a::before{
                font-size: 20px;
                line-height: 48px;
            }

                .footer-socials a.icon-twitter::before,
                .footer-socials a.icon-facebook::before,
                .footer-socials a.icon-youtube::before{
                    color: #ffffff;
                }

                .footer-socials a.icon-twitter:active::before,
                .footer-socials a.icon-facebook:active::before,
                .footer-socials a.icon-youtube:active::before{
                    opacity: 0.3;
                }

    .footer-copyright{
        display: inline-block;
        width: 33.33%;
        font-size: 14px;
        font-family: "PT Sans", "Arial", sans-serif;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
    }

        .footer-copyright .logo-academy{
            display: inline-block;
            font-size: 0;
            width: 113px;
            height: 39px;
            margin: 4px 8px;
            vertical-align: middle;
            text-decoration: none;
            background: transparent url("../img/sprites_ha.png") no-repeat;
            background-position: 50% 0;
        }

            .logo-academy:hover {
                background-position: 50% -48px;
            }

            .logo-academy:active {
                background-position: 50% -95px;
            }

        
/*  правила страницы index.html
-----------------------------------------------*/
.promo{
    position: relative;
    width: 100%;
    height: 508px;
    background: url("../img/promo_img.jpg") no-repeat 50% 30%;
    background-size: cover;
}

    .promo::after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 57px;
        background: url("../img/promo_maska.png");
        background-size: 100% 57px;
    }

    .promo img{
        display: block;
        margin: 0 auto;
        padding-top: 76px;
    }

.reasons-header{
    height: 216px;
    background: #ffffff;
}

    .reasons-header .reasons-title{
        display: block;
        margin: 0 auto;
        padding-top: 60px;
        width: 500px;
    }

    .reasons-header p{
        font-family: "PT Sans", "Arial", sans-serif;
        font-weight: 400;
        text-align: center;
        margin-top: 26px;
        margin-bottom: 20px;
    }
  
.reason-row{
    min-height: 256px;
}
            
    .reason-row .reason{
        float: left;
        width: 33.33%;
        height: 256px;
        font-size: 14px;
        vertical-align: top;
        text-align: center;
        padding: 35px 4% 0;
        box-sizing: border-box;
        background: #81b3d2;
        color: #ffffff;
    }


    .reason-row .reason-image{
        min-height: 330px;
        background: #ffffff;
        color: #000000;
    }

    .reason-image-home::before {
        background-position: 0 0;
    }

    .reason-image-hamburger::before {
        background-position: 0 -88px;
    }

    .reason-image-gift::before {
        background-position: 0 -182px;
    }

        .reason-image{
            position: relative;
            background: #ffffff;
            color: #000000;
        }

            .reason-image::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 60px;
                width: 75px;
                height: 76px;
                margin-left: -38px;
                background: transparent url("../img/sprites_advices.png") no-repeat;
            }

        .reason-image .reason-title{
            padding-top: 108px;
        }

            .reasons-title{
                 text-align: center;
            }

                .reason-number{
                    font-family: "PT Sans", "Arial", sans-serif;
                    font-weight: 400;
                    line-height: 21px;
                    margin-top: 25px;
                }

        .reason-image .reason-text{
            font-family: "PT Sans", "Arial", sans-serif;
            font-weight: 400;
            line-height: 21px;
        }

        .reason-text{
            font-family: "PT Sans", "Arial", sans-serif;
            font-weight: 400;
            line-height: 21px;
            margin-top: 22px;
        }


.reason-row-image .reason-picture{
    float: right;
}

.reason-row-image .reason{
    float: left;
}

.reason-row-image-invert .reason{
    float: right;
}

.reason-row-image-invert .reason-picture{
    float: left;
}

    .reason-picture{
        position: relative;
        display: inline-block;
        width: 66.67%;
        height: 256px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-size: 14px;
    }

        .reason-picture img{
            position: absolute;
            max-width: 100%;
            height: auto;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }

.reason-row-gray .reason{
    background: #eeeeee;
    color:#000000;
    padding-top: 28px;
}

.search-hotel{
   width: 568px;
    margin: 0 auto;
    text-align: center;
}

    .search-hotel .search-hotel-title{
        font-size: 30px;
        line-height: 24px;
        text-align: center;
        margin-top: 55px;
    }

    .search-hotel .search-text{
        font-family: "PT Sans", "Arial", sans-serif;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        margin-top: 29px;
    }

.btn-search{
    display: block;
    margin: 0 auto;
    background: #766357;
    padding: 30px;
    margin-top: 50px;
    text-decoration: none;
    color: #ffffff;
    font-size: 21px;
}

    .btn-search:hover{
        background: #604e43;
    }

    .btn-search:active{
        background: #503e33;
        color: rgba(255,255,255,0.3);
    }

.map{
    position: relative;
    height: 593px;
}

    .map-canvas{
        height: auto;
    }


/*  правила страницы hotels.html
-----------------------------------------------*/
.hotels-filters{
    position: relative;
    max-height: 217px;
    padding: 15px 6% 5px;
    background: transparent url("../img/bg_hotels_filters.jpg") no-repeat 0 50%;
    background-size: cover;
    color: #ffffff;
}

    .hotels-filters form{
        font-size: 0px;
    }

        .hotel-filters h2{
            text-align: left;
        }


.filter-items{
    float: left;
    box-sizing: border-box;
    margin: 0;
    margin-right: 30px;
    font-size: 14px;
}

    .filter-items:first-child{
         margin-right: 119px;
    }

    .filter-items h2{
        font-family: "PT Sans", "Arial", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        color: #ffffff;  
    }

input[type="checkbox"]{ 
    display: none; 
}

input[type="checkbox"] + label{
    display: block;
    margin: 21px 0;
    margin-bottom: 26px;
    margin-left: 0;
    cursor: pointer;
    color: #ffffff;
    vertical-align: top;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    line-height: 21px;
}

    input[type="checkbox"] + label::before{
        content: "\2610";
        color: #b5b5b5;
        font-family: "symbols-sedona";
        display: inline-block;
        vertical-align: top;
        font-size: 26px;
        margin-right: 17px;
    }

    input[type="checkbox"] + label:hover::before{
        color: #ffffff;
    }

input[type="checkbox"]:disabled + label::before,
input[type="checkbox"]:disabled + label{
    color: #595c5c;
    cursor: default;
}

input[type="checkbox"]:checked + label::before{
    content: "\2611";
    margin-right: 13px;
}

.filter-cost{
    float: right;
    font-size: 14px;
    box-sizing: border-box;
    width: 33%;
    padding-left: 20px;
    vertical-align: top;
    font-size: 14px;
}

    .filter-cost .title-filter{
        margin-bottom: 9px;    
    }

    .title-filter{
        color: #ffffff;
        font-size: 16px;
    }

        .hotel-title a:hover{
            color: #81b3d2;
        }

        .hotel-title a:active{
            color: rgba(0, 0, 0, 0.3);
        }

.cost-control{
    margin-left: 8px;
}

    .cost-group {
        position: relative;
        font-size: 0;
        border: 2px solid #ffffff;
        border-radius: 3px;
    }

        .cost-group::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 5px;
            width: 2px;
            height: 22px;
            margin-left: -1px;
            background: #fff;
        }

    .cost-group label {
        display: inline-block;
        width: 40%;
        padding: 5px 5%;
        font-size: 14px;
        vertical-align: top;
        text-align: right;
        font-family: "PT Sans", "Arial", sans-serif;
        font-weight: 400;
        line-height: 21px;
    }

    .cost-group input{
        max-width: 50%;
        padding: 0;
        border: none;
        color: #fff;
        background-color: transparent;
    }

    .scale{
        position: relative;
        margin: 20px 0;
        height: 2px;
        background: #fff;
    }

    .scale button{
        position: absolute;
        top: -8px;
        padding: 2px;
        box-shadow: 0 2px 0 0 rgba(0,0,0,.14);
        cursor: pointer;
        border: 8px solid #fff;
        border-radius: 50%;
        outline: none;
        background: #ababab;
    }

        .scale button:hover {
            background: #1c4f80;
        }

        .scale button.scale-min{
            left: 0;
        }

        .scale button.scale-max{
            right: 45px;
        }

button.btn{
    display: block;
    padding: 5px 34px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 33px;
    border: 2px solid #FFF;
    border-radius: 3px;
    background-color: transparent;   
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    color: #FFF;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.hotels-header{
    display: block;
    padding: 30px 6%;
    padding-bottom: 28px;
    line-height: 26px;
    border-bottom: 1px solid #e5e5e5;
}

    .hotels-find-count{
        float: left;
        margin: 0;
        width: 162px;
        line-height: 26px;
    }

    .sort-type{
        float: left;
        font-family: "PT Sans", "Arial", sans-serif;
        font-weight: 400;
        font-size: 12px;
    }

        .sort-type a{
            position: relative;
            margin-right: 28px;
            vertical-align: middle;
            text-decoration: none;
            color: #000000;
            opacity: 0.3;
        }

            .sort-type a::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                border-top: 1px dotted #81b3d2;
            }

            .sort-type a:hover{
                color: #81b3d2;
                opacity: 1;
            }

            .sort-type a:active::after{
                border: none;
            }

            .sort-type a:active{
                color: #000000;
                opacity: 1;
            }

            .sort-type a.active-sort-type{
                color:#81b3d2;
                opacity: 1;
            }

            .sort-type a.active-sort-type::after{
                border: none;
            }
        .sort-title{
            display: inline-block;
            width: 115px;
            vertical-align: top;
        }

.sort{
    float: right;
}

    .sort a{
        display: inline-block;
        width: 23px;
        font-size: 23px;
        text-align: right;
        text-decoration: none;
    }
    
    .icon-up-dir:hover::before, .icon-down-dir:hover::before{
    color: #000000;
    }

    .icon-active::before{
        color: #81b3d2;
    }

    .icon-up-dir:active::before, .icon-down-dir:active::before{
        color: #81b3d2;
    }

.hotel-items{
    padding: 30px 6%;
    border-bottom: 1px solid #e5e5e5;
}

    .photo-hotel{
        display: block;
        float: left;
        width: 135px;
        height: 90px;
    }

.hotel-info{
    float: left;
    margin-left: 30px;
}

    .hotel-title{
            margin-top:-3px;
            margin-bottom: 9px;
        }

            .hotel-title a{
                color: #000000;
                text-decoration: none;
            }

.hotel-action{
    display: inline-block;
    max-width: 160px;
    margin-right: 2px;
    vertical-align: top;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    line-height: 21px;
}

    .hotel-action a{
        display: block;
        margin-top: 15px;
        padding: 3px 17px;
        background: #81b3d2;
        text-decoration: none;
        font-family: "PT Sans", "Arial", sans-serif;
        font-weight: 700;
        color: #ffffff;
    }

        .hotel-action a.btn:hover{
            background: #669ec0;
        }

        .hotel-action a.btn:active{
            background: #5496bd;
            color: rgba(255, 255, 255, 0.3);
        }

        .hotel-action a.btn-order{
            background: #766357;
        }

        .hotel-action a.btn-order:hover{
            background: #604e43;
        }

        .hotel-action a.btn-order:active{
            background: #503e33;
            color: rgba(255, 255, 255, 0.3);
        }

.rating{
    float:right;
    width: 110px;
    text-align: right;
}

    .rating-stars{
        position: relative;
        width: 110px;
        height: 21px;
        margin-bottom: 42px;
    }

        .rating-value{
            padding: 3px 0px;
            text-align: center;
            color: #666;
            background: #F2F2F2;
            font-family: "PT Sans", "Arial", sans-serif;
            font-weight: 400;
            line-height: 21px;
        }


/*  правила страниц index.html и hotels.html
-----------------------------------------------*/
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

@font-face {
  font-family: 'symbols-sedona';
  src: url('../fonts/symbols-sedona/symbols-sedona.eot?60737633');
  src: url('../fonts/symbols-sedona/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
       url('../fonts/symbols-sedona/symbols-sedona.woff?60737633') format('woff'),
       url('../fonts/symbols-sedona/symbols-sedona.ttf?60737633') format('truetype'),
       url('../fonts/symbols-sedona/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "symbols-sedona";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
 
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-up-dir:before { content: '\25b2'; color: #cccccc; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; color: #cccccc; } /* '▼' */
.icon-star:before { content: '\2605'; color: #81b3d2; font-size: 17px; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\f39e'; } /* '' */


.popup-search{
    display: none;
}

h1{
    font-size: 21px;
    line-height: 26px;
}

h2{
    font-size: 21px;
    line-height: 21px;
}

p{
    line-height: 26px;
}

fieldset{
    padding: 0;
    border: none;
}